@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Poor+Story&display=swap');

#qna {
    display: none;
    padding: 20px;
    width: 360px;
    height: 620px;
    border-radius: 10px;
    /* background-color: pink; */
    position: absolute;
}


.status {
    position: relative;
    margin: 10px 0px 30px 0px;
    height: 15px;
    width: 320px;
    background-color: white;   
    border-radius: 20px;
    border: 2px solid black;
}

.statusBar {
    height: 100%;
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%);
    border-radius: 20px;
}

.qBox {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 50px;
}

.answerBox button {
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    padding-top: 160px;
    color: #fde952;
    /* font-weight: 800; */
}

.infoBox {
    width: 320px;
    border-radius: 20px;
    margin-top: 40px;
    height: 120px;
    padding: 20px 20px;
}

.info {
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}